.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*******************************
GENERAL
*******************************/



body {
  font-family: 'Crimson Text', serif;
  background-color: #f5f5f5;
}

i {
  font-family: 'Crimson Text', serif;
  font-style: italic;
}


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


#headline,
#maincopy,
#jester,
#flavortext,
#primary,
#secondary {
  width: 90%;
  margin: 0 auto;
}

#maincopy {
  margin-bottom: 50px;
}

#primary,
#secondary {
  margin-bottom: 35px;
}

.DonateButton {
  padding: 2px 8px;
  margin: 0 0 0 10px;
  border: solid 3px;
  border-color: orange grey grey orange;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.375em;
  background-color: orange;
}

/****************************
HEADING
*******************************/



header {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}


#headline h1 {
  font-family: 'papyrus', 'Crimson Text', serif; 
  font-size: 3em;
  line-height: 1.125em;
  margin-top: 0;
  margin-bottom: 0;
}

#headline h2 {
  font-size: 1.25em;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.jester {
  max-width: 85%;
  margin: auto;
  margin-bottom: -55px;
}


/*******************************
NAVIGATION
*******************************/


nav {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  font-size: .75em
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

.donate {
  padding: 2px 8px;
  margin: 0 0 0 10px;
  border: solid 3px white;
  border-radius: 10%;
}

/*******************************
FOOTER
*******************************/

footer {
  float: left;
  width: 100%;
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
  background-color: #5200A3;
}



/*******************************
FEATURED MUSICALS
*******************************/

.exit-button {
  background-image: url('../img/exit-button.svg');
  float: right;
  position: relative;
  top: -20px;
  margin: -10px;
  right: -10px;
  padding: 20px;
  background-size: 50px 50px;

}

.musical-title {
  font-weight: 600;
  font-style: italic;
  font-size: 2em;
  margin-bottom: .25em;
}

.hidden-box1,
.hidden-box2 {
  padding: 50px;
  height: 500px;
}

.hidden-box1 {
  display: none;
  background-color: #14CC52;
}

.hidden-box2 {
  display: none;
  background-color: #3F74FF;
}


#featured_musicals h1 {
  font-size: 2em;
  margin-bottom: -20px;
}

.musical_left h3,
.musical_right h3 {
  font-size: 1.5em;
  margin-bottom: -10px;
}

#featured_musicals {
  padding: 20px;
  background-color: #FBFF00;
  text-align: center;
  height: 550px;
}

.musical_left {
  padding: 20px;
  margin: 20px;
  background-color: #14CC52;
}

.musical_right {
  padding: 20px;
  margin: 20px;
  background-color: #3F74FF;
}

/****************************
FLAVOR TEXT
*******************************/


#flavortext {
  padding: 20px 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

#flavortext h1 {
  font-weight: 400;
  font-size: 3em;
  line-height: 1em;
  text-align: center;
}

/*******************************
CONTACT
*******************************/


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}
.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
}



/*******************************
DONORS
*******************************/


#donate-options {
  padding-top: 130px;
  width: 90%;
  margin: 0 auto;
}

#donate-options h1,
#donate-options h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  text-align: center;
}

#donate-options h1 {
  font-size: 3em;
}

#donate-options h2 {
  font-size: 2.25em;
}

.donate-check,
.donate-fa {
  font-size: .8em;
  margin-top: 50px;
  display: inline-block;
  border: 2px solid;
  padding: 15px;
}

.donate-check p,
.donate-fa p {
  margin: 30 0 0 0;
  padding: 0;
  font-size: 1.25em;
}

.current-donors {
  padding: 20px;
  text-align: center;
}

.current-donors h1 {
  font-size: 2.5em;
  line-height: 1em;
  padding: 50px 3px 15px;
  border-bottom: 2px solid #0094e6;
}

.current-donors h2 {
  font-size: 1.25em;
  display: inline-block;
  color: white;
  background-color: #0094e6;
  border-radius: 5px;
  width: 250px;
  padding: 5px 0;

}

.check-addres {
  text-align: center;
}

#fa a {
  display: block;
  text-align: center;
  font-size: 2em;
  background-color: orange;
  color: white;
  padding: 10px;
  margin: auto;
  width: 200px;
  font-family: 'Crimson Text', serif;
}


/*******************************
COLORS
*******************************/



/* site body */
body {
  background-color: #fff;
  color: #333;
}

/* green header */
header {
  background: #5200A3;
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  background: #5200A3;
}

/* logo text */
h1, h2 {
  color: #333;
}

/* links */
a {
  color: #FFA319;
}
/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected new link */
nav a.selected, nav a:hover {
  color: #944DDB;
  border-color: #944DDB;
}










