@media screen and (min-width: 480px) {
  
/*******************************
TWO COLUMN LAYOUT
*******************************/

#primary {
    width: 50%;
    float: left;
    margin-left: 5%;
  }

#primary h2 {
  margin-top: 0;
}

#secondary {
  width: 40%;
  float: right;
  }

<<<<<<< HEAD:Jester-Educational-Theater/css/responsive.css
=======

>>>>>>> parent of 4af5330... Slow added to jQuery show and hide:css/responsive.css
  

@media screen and (min-width: 660px) {
  
  
/*******************************
PAGE: HEADER
*******************************/

<<<<<<< HEAD:Jester-Educational-Theater/css/responsive.css
=======
.musical_left,
.musical_right {
  width: 38%;
  margin: 2%;
  padding: 20px;
  float: left;
  height: 250px;
}

.musical_right {
  float: right;
}

.musical_left h3,
.musical_right h3 {
  margin-top: 70px;
}

#featured_musicals h1 {
  font-size: 3em;
  margin-bottom: -40px;
}

>>>>>>> parent of 4af5330... Slow added to jQuery show and hide:css/responsive.css
#jester {
    width: 45%;
    float: right;
    margin-bottom: 10px;
  }

#headline {
  width: 50%;
  float: left;
  margin-left: 5%;
  margin-top: 15%;
}

#maincopy {
  clear: right;
  font-size: 1.25em;
}

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 15%;
    text-align: right;
    width: 90%;
  }

  
  header {
    margin-bottom: 60px;
  }

  .donate {
   margin: 0 30px;
  }
  
}